
<div class="pacenotes-editor" ng-init="onDocumentReady()">
    <style>
        .pacenotes-editor {
            color: white;
            font-weight: bold;
        }

        .pacenotes-editor button {
            color: black;
        }

        .pacenotes-editor .hide {
            display: none;
        }

        .pacenotes-editor summary {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .pacenotes-editor details {
            margin-left: 10px;
        }

        .pacenotes-editor details > summary {
            margin-left: -10px;
        }

        /* TODO switch to flexboxes so table height can be smarter */
        #pacenotes-list {
            height: 300px;
            resize: vertical;
            overflow-y: auto;
        }

        .pacenotes-editor table {
            width: 100%;
            border-collapse: collapse;
        }

        .pacenotes-editor th, .pacenotes-editor td {
            border: 1px solid lightgray;
            padding: 8px;
            text-align: left;
            background-color: rgba(0, 0, 0, 0.2);
            font-size: 80%;
        }

        .pacenotes-editor th {
            background-color: rgba(70, 70, 70, 0.9);
            position: sticky;
            top: 0;
            z-index: 1;
        }

        /* Double select selected-row for priority over disabled row */
        .pacenotes-editor .selected-row.selected-row {
            background-color: rgba(52, 51, 95, 0.7);
            border: 2px solid white;
        }

        .pacenotes-editor .disabled-row {
            background-color: rgba(82, 82, 82, 0.4);
            color: gray;
            text-decoration: line-through;
        }

        .pacenotes-editor .disabled-row input {
            text-decoration: line-through;
        }

        .pacenotes-editor table input {
            width: 100%;
            font-weight: bold;
        }

        .pacenotes-editor input::placeholder {
            color: rgba(240, 240, 240, 0.9);
        }

        .pacenotes-editor .disabled-row input::placeholder {
            text-decoration: line-through;
        }
    </style>

    <details id="main-panel" open>
        <summary>Pacenotes</summary>

        <p>
            Rally ID: {{rallyId}}
        </p>
        <p>
            Mode: {{mode}}
        </p>

        <details id="load-save-panel">
            <summary>Load / Save As</summary>
            <p>
                <label for="filename">RallyId:</label>
                <input type="text" id="newRallyId" ng-model="newRallyId">
            </p>
            <button ng-click="loadRally()">Load</button>
            <button ng-click="saveAsRally()">Save As</button>
        </details>

        <details>
            <summary>Playback tuning</summary>
                <p>
                    Lookahead distance:
                    <input type="number" id="playback-lookahead" ng-model="playbackLookahead">
                </p>
                <p>
                    Speed Multiplier:
                    <input type="number" id="speed-multiplier" ng-model="speedMultiplier">
                </p>
        </details>

        <details id="mic-server-panel" open>
            <summary>
                Mic Server: <span id="mic-state">{{isMicServerConnected ? 'Connected' : 'Disconnected'}}</span>
            </summary>
            <button id="connect-disconnect-mic-server" ng-click="toggleMicServerConnection()" ng-model-options="{ debounce: 100 }">
                {{isMicServerConnected ? 'Disconnect' : 'Connect'}}
            </button>
        </details>

        <div id="recce-content" class="hide">
            <button id="recce-save" ng-click="setSaveRecce()">Save Recce</button>
            <button id="" ng-click="deleteLastPacenote()" class="hide">Delete Last Pacenote</button>

            <p>
                Number of Pacenotes: <span id="pacenotes-count"></span>
            </p>
        </div>

        <div ng-show="pacenotes_data != {}">
            <div id="pacenotes-list">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pacenote in pacenotes_data" ng-click="selectRow($index)" ng-class="{'selected-row': $index === selectedRowIndex, 'disabled-row': pacenotes_data[$index].disabled}" ng-model-options="{ debounce: 100 }">
                            <td>
                                <input type="text" ng-model="pacenotes_data[$index].name" ng-model-options="{ updateOn: 'blur keydown', debounce: {'blur': 0, 'keydown': 500} }" placeholder="{{pacenotes_data[$index].wave_name }}" ng-focus="selectRow($index)">
                            </td>
                            <td class="distance">
                                <input type="number" ng-model="pacenotes_data[$index].d" ng-model-options="{ updateOn: 'blur keydown', debounce: {'blur': 0, 'keydown': 500} }" ng-focus="selectRow($index)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <input type="checkbox" id="follow-note" ng-model="followNote">
            <label for="follow-note">Follow Current Note</label>
        </div>

        <div id="selected-row-details" ng-show="selectedRowIndex !== null">
            <label for="continue-distance" title="Useful for hairpins: how close a user must be to this point before the next note can be played.">Continue Distance:</label>
            <input type="number" id="continue-distance" ng-model="pacenotes_data[selectedRowIndex].continueDistance" ng-model-options="{ updateOn: 'blur keydown', debounce: {'blur': 0, 'keydown': 500} }">
            <button id="clear-continue-distance" ng-click="deleteContinueDistance()" ng-disabled="pacenotes_data[selectedRowIndex].continueDistance === undefined">X</button>

            <br/>

            <button id="delete-pacenote" ng-click="deletePacenote()" ng-model-options="{ debounce: 250 }">
                {{ pacenotes_data[selectedRowIndex].disabled ? 'Restore Pacenote' : 'Delete Pacenote' }}
            </button>
        </div>

        <p>
            Distance: <span id="distance">{{distance.toFixed(2)}}</span>
            <button ng-click="jumpToDistance()">Jump To</button>
        </p>

        <button ng-click="saveRally()" ng-disabled="!isRallyChanged">Save Pacenotes</button>
    </details>

</div>
