
<div class="pacenotes-editor" ng-init="onDocumentReady()">
    <style>
        .pacenotes-editor {
            color: white;
            font-weight: bold;
            height: 100%;
        }

        .pacenotes-editor #main-panel[open] {
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            overflow-y: auto;
        }

        .pacenotes-editor button {
            color: black;
        }

        .pacenotes-editor .hide {
            display: none;
        }

        .pacenotes-editor summary {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .pacenotes-editor details {
            margin: 5px;
            margin-left: 10px;
        }

        .pacenotes-editor details > summary {
            margin-left: -10px;
        }

        .pacenotes-editor details#main-panel {
            margin-left: 0px;
            padding-left: 10px;
        }

        .pacenotes-editor .hover-hint {
            position: relative;
        }

        .hover-hint:hover::after {
            content: attr(data-hover);
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 2px;
            font-size: 90%;
            font-weight: normal;
            z-index: 1;
        }

        .pacenotes-editor .recording-lamp {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-left: 10px;
            background-color: #333; /* Default color */
        }

        .pacenotes-editor .recording-lamp.is-recording {
            background-color: red;
        }

        .pacenotes-editor .secondary-info {
            color: lightgray;
            font-weight: normal;
        }

        /* TODO switch to flexboxes so table height can be smarter */
        #pacenotes-list {
            height: 300px;
            min-height: 80px;
            resize: vertical;
            overflow-y: auto;
        }

        .pacenotes-editor .view-mode-selector {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            text-align: right;
            margin: 5px;
        }
        .pacenotes-editor .view-mode-selector div {
            background-color: #333;
            padding-left: 4px;
            padding-right: 4px;
            font-weight: normal;
        }

        .pacenotes-editor .view-mode-selector div.view-mode-selected {
            background-color: lightgray;
            color: black;
            font-weight: bold;
            border: 1px solid black;
        }

        .pacenotes-editor .analysis-instance {
            margin: 5px;
            border: 2px solid gray;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.2);
            position: relative;
        }
        .pacenotes-editor .analysis-instance h3 {
            margin: 1px;
        }

        .pacenotes-editor table {
            width: 100%;
            border-collapse: collapse;
        }

        .pacenotes-editor th, .pacenotes-editor td {
            border: 1px solid lightgray;
            padding: 8px;
            text-align: left;
            background-color: rgba(0, 0, 0, 0.2);
            font-size: 80%;
        }

        .pacenotes-editor th {
            background-color: rgba(70, 70, 70, 0.9);
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .pacenotes-editor .selected-row {
            background-color: rgba(52, 51, 95, 0.7);
            border: 2px solid white;
        }

        .pacenotes-editor .selected-row.disabled-row {
            background-color: rgba(190, 43, 45, 0.7);
        }

        .pacenotes-editor .disabled-row {
            background-color: rgba(105, 59, 59, 0.7);
            color: gray;
            text-decoration: line-through;
        }

        .pacenotes-editor table input {
            width: 100%;
            font-weight: bold;
        }

        .pacenotes-editor #selected-row-details-edit {
            margin: 2px;
        }

        .pacenotes-editor td.analysis-number {
            text-align: right;
        }

        .pacenotes-editor input::placeholder {
            color: rgba(240, 240, 240, 0.9);
        }

        .pacenotes-editor .disabled-row input {
            text-decoration: line-through;
        }

        .pacenotes-editor .disabled-row input::placeholder {
            text-decoration: line-through;
        }

        .dropdown-container {
            position: relative;
        }

        .dropdown-container input {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
        }

        .dropdown-container ul {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            border: 1px solid #ccc;
            background-color: rgba(0, 0, 0, 0.8);
            list-style-type: none;
            margin: 0;
            padding: 0;
            max-height: 150px;
            overflow-y: auto;
            z-index: 1000;
            display: none; /* Hide by default */
        }

        .dropdown-container ul.visible {
            display: block;
        }

        .dropdown-container li {
            padding: 5px;
            cursor: pointer;
            border: 1px solid transparent;
        }

        .dropdown-container li:hover {
            background-color: rgba(0, 0, 0, 0.95);
            border: 1px solid white;
        }
    </style>

    <details id="main-panel" ng-open="panelOpen">
        <summary>Pacenotes</summary>

        <p>
            Rally ID: {{level}} / {{rallyId}}
        </p>
        <p>
            Mode: {{mode}}
        </p>

        <details id="load-save-panel">
            <summary>Load / Save As</summary>
            <div style="display: flex; padding: 10px;">
                <label for="filename">RallyId: {{level}}/</label>
                <div ng-app="pacenotesEditor" ng-controller="DropdownController" style="flex-grow: 1;">
                    <div class="dropdown-container">
                        <input
                            id="filename"
                            type="text"
                            ng-model="SharedDataService.newRallyId"
                            ng-keyup="filterOptions()"
                            ng-focus="onFocus()"
                            ng-blur="onBlur()">

                        <ul ng-class="{visible: filteredOptions.length > 0}">
                            <li ng-repeat="option in filteredOptions" ng-click="selectOption(option)">
                                {{option}}
                            </li>
                        </ul>
                    </div>
                </div>
                <button ng-click="clearFilenameInput()" style="margin-left: 5px;">X</button>
            </div>
            <button ng-click="loadRally()">Load</button>
            <button ng-click="saveAsRally()" ng-show="mode !== 'none'">Save As</button>
            <button ng-click="newRally()" ng-disabled="SharedDataService.newRallyId == '' || SharedDataService.newRallyId == rallyId">New</button>
            <button
                id="close-rally-button"
                ng-click="closeRally()" 
                ng-disabled="rallyId == ''"
                ng-focus="showCloseCheckbox = true"
                ng-blur="hideCloseCheckbox()">
                    Close
            </button>

            <input
                type="checkbox"
                id="close-changed-rally-toggle"
                ng-show="showCloseCheckbox"
                ng-focus="showCloseCheckbox = true"
                ng-blur="hideCloseCheckbox()"
                ng-model="closeIgnoreUnsavedRallyChanges"/>
            <label id="close-changed-rally-box-label" ng-show="showCloseCheckbox" for="close-changed-rally-box">Ignore unsaved changes</label>

            <details id="delete-panel">
                <summary>Delete</summary>

                <p>THIS CANNOT BE UNDONE. Type 'Delete' into the text box and press the button to delete the pacenotes for this stage.</p>

                <input type="text" ng-model="deleteConfirmationInput">
                <button id="delete-pacenotes" ng-click="deleteRally()" ng-disabled="deleteConfirmationInput !== 'Delete'">Delete</button>
            </details>
        </details>

        <details id="playback-panel">
            <summary>Playback tuning</summary>
            <p>
                <span class="hover-hint" data-hover="Start playing a pacenote X meters ahead.">Lookahead Distance:</span>
                <input type="number" id="playback-lookahead" ng-model="playbackLookahead">
            </p>
            <p>
                <span class="hover-hint" data-hover="Adds additonal lookahead distance based on car speed.">Speed Sensitivity:</span>
                <input type="number" id="speed-multiplier" ng-model="speedMultiplier" step="0.1">
            </p>
                <p style="display: flex; align-items: center; justify-content: flex-start; gap: 15px;">
                    Volume:
                    <input type="range" id="playback-volume" ng-model="playbackVolume" min="0" max="100" style="width: 50; margin-left: 15px; margin-right: 15px;">
                    {{playbackVolume}}
                </p>
        </details>

        <details id="mic-server-panel" open>
            <summary>
                Mic Server: <span id="mic-state">{{isMicServerConnected ? 'Connected' : 'Disconnected'}}</span>
                <span class="recording-lamp"></span>
            </summary>
            <button id="connect-disconnect-mic-server" ng-click="toggleMicServerConnection()" ng-model-options="{ debounce: 100 }">
                {{isMicServerConnected ? 'Disconnect' : 'Connect'}}
            </button>
        </details>

        <div class='view-mode-selector' ng-show="mode == 'rally'" ng-click="toggleViewMode()">
            <div ng-class="{'view-mode-selected': viewMode == 'edit'}">Edit</div>
            <div ng-class="{'view-mode-selected': viewMode == 'analyze'}">Analyze</div>
        </div>

        <div ng-show="mode !== 'none'">
            <div id="pacenotes-list">
                <table ng-show="viewMode == 'edit'">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Distance</th>
                            <th>X</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pacenote-data-representation" data-index="{{$index}}" ng-repeat="pacenote in pacenotes_data" ng-click="selectRow($index)" ng-class="{'selected-row': $index === selectedRowIndex, 'disabled-row': pacenotes_data[$index].disabled}" ng-model-options="{ debounce: 100 }">
                            <td>
                                <input type="text" ng-model="pacenotes_data[$index].name" ng-model-options="{ updateOn: 'blur keydown', debounce: {'blur': 0, 'keydown': 500} }" placeholder="{{pacenotes_data[$index].wave_name }}" ng-focus="selectRow($index)" ng-keydown="$event.stopPropagation();">
                            </td>
                            <td class="distance">
                                <input type="number" ng-model="pacenotes_data[$index].d" ng-model-options="{ updateOn: 'blur keydown', debounce: {'blur': 0, 'keydown': 500} }" ng-focus="selectRow($index)">
                            </td>
                            <td>
                                <button ng-click="$event.stopPropagation(); deletePacenote($index)" ng-model-options="{ debounce: 250 }" style="width: 1.6em">{{pacenotes_data[$index].disabled ? '!' : 'X'}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="analysis-list" ng-show="viewMode == 'analyze'">
                    <div class="pacenote-data-representation analysis-instance" data-index="{{$index}}" ng-repeat="pacenote in pacenotes_data" ng-click="selectRow($index)" ng-class="{'selected-row': $index === selectedRowIndex, 'disabled-row': pacenotes_data[$index].disabled}" ng-model-options="{ debounce: 100 }">
                        <h3 class="secondary-info">{{pacenote.name || pacenote.wave_name}}</h3>
                        <span class="secondary-info" style="position: absolute; right: 5px; top: 1px;">Distance: {{pacenote.d}}</span>
                        <div ng-show="pacenote.analysis">
                            Qv: {{pacenote.analysis.queueSpeed.toFixed(2)}}
                            Qd: {{(pacenote.d - pacenote.analysis.queueDistance).toFixed(2)}}
                            Ps: {{(pacenote.d - pacenote.analysis.playStartDistance).toFixed(2)}}
                            Pe: {{(pacenote.d - pacenote.analysis.playEndDistance).toFixed(2)}}
                            Pt: {{pacenote.analysis.playbackTime.toFixed(2)}}
                        </div>
                        <div class="secondary-info" ng-show="pacenote.analysis === undefined">
                            Drive to this point to get analysis 
                        </div>
                    </div>
                </div>
            </div>

            <div style="overflow-x: auto; white-space: nowrap; margin: 2px;">
                <input type="checkbox" id="follow-note" ng-model="followNote">
                <label for="follow-note">Follow Current Note</label>
                |
                <span ng-show="viewMode == 'edit'">
                    <input type="checkbox" id="record-at-note" ng-model="recordAtNote">
                    <label for="record-at-note">Record at selected</label>
                </span>
                <span ng-show="viewMode == 'analyze'">
                    <input type="checkbox" id="is-analyzing" ng-model="isAnalyzing">
                    <label for="is-analyzing">Analyze <button ng-click="resetAnalysis()">🔁</button></label>
                </span>
            </div>
        </div>

        <div ng-show="mode !== 'none'">
            <div id="selected-row-details-edit" ng-show="selectedRowIndex !== null && viewMode == 'edit'">
                <label for="continue-distance">Continue Distance:</label>
                <input type="number" id="continue-distance" ng-model="pacenotes_data[selectedRowIndex].continueDistance" ng-model-options="{ updateOn: 'blur keydown', debounce: {'blur': 0, 'keydown': 500} }">
                <button id="clear-continue-distance" ng-click="deleteContinueDistance()" ng-disabled="pacenotes_data[selectedRowIndex].continueDistance === undefined">X</button>
            </div>

            <div id="selected-row-details-analyze" ng-show="selectedRowIndex !== null && viewMode == 'analyze'">
                <table style="table-layout: fixed; width: 100%;">
                    <colgroup>
                        <col style="width: 40%;">
                        <col style="width: 30%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <tr>
                        <td>Speed Queued:</td>
                        <td class="analysis-number">{{pacenotes_data[selectedRowIndex].analysis && pacenotes_data[selectedRowIndex].analysis.queueSpeed}}</td>
                        <td style="width: 3em;">km/h</td>
                    </tr>
                    <tr>
                        <td>Distance Queued:</td>
                        <td class="analysis-number">{{pacenotes_data[selectedRowIndex].analysis && (pacenotes_data[selectedRowIndex].d - pacenotes_data[selectedRowIndex].analysis.queueDistance).toFixed(3)}}</td>
                        <td style="width: 3em;">m</td>
                    </tr>
                    <tr>
                        <td>Distance Play Started:</td>
                        <td class="analysis-number">{{pacenotes_data[selectedRowIndex].analysis && (pacenotes_data[selectedRowIndex].d - pacenotes_data[selectedRowIndex].analysis.playStartDistance).toFixed(3)}}</td>
                        <td style="width: 3em;">m</td>
                    </tr>
                    <tr>
                        <td>Distance Play Ended:</td>
                        <td class="analysis-number">{{pacenotes_data[selectedRowIndex].analysis && (pacenotes_data[selectedRowIndex].d - pacenotes_data[selectedRowIndex].analysis.playEndDistance).toFixed(3)}}</td>
                        <td style="width: 3em;">m</td>
                    </tr>
                    <tr>
                        <td>Playback Time:</td>
                        <td class="analysis-number">{{pacenotes_data[selectedRowIndex].analysis && pacenotes_data[selectedRowIndex].analysis.playbackTime}}</td>
                        <td style="width: 3em;">s</td>
                    </tr>
                </table>
            </div>

            <div>
                Distance: <span id="distance">{{distance.toFixed(2)}}</span>
                <button ng-click="jumpToDistance()">Jump To</button>

                <button ng-click="saveRally()" ng-disabled="!isRallyChanged" ng-show="mode === 'rally'">Save Pacenotes</button>
                <button id="recce-save" ng-click="setSaveRecce()" ng-show="mode === 'recce'">Save Recce</button>
                <button id="recce-finalize" ng-click="recceFinalize()" ng-show="mode === 'recce'">Finalize Track</button>
            </div>
        </div>

    </details>

</div>
