
<div class="pacenotes-editor" ng-init="onDocumentReady()">
    <style>
        .pacenotes-editor {
            color: white;
            font-weight: bold;
        }

        .pacenotes-editor button {
            color: black;
        }

        .pacenotes-editor .hide {
            display: none;
        }

        .pacenotes-editor summary {
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* TODO switch to flexboxes so table height can be smarter */
        #pacenotes-list {
            max-height: 100px;
            overflow-y: auto;
        }

        .pacenotes-editor table {
            width: 100%;
            border-collapse: collapse;
        }

        .pacenotes-editor th, .pacenotes-editor td {
            border: 1px solid white;
            padding: 8px;
            text-align: left;
            background-color: rgba(0, 0, 0, 0.2);
        }

        .pacenotes-editor th {
            background-color: rgba(0, 0, 0, 0.4);
        }
    </style>

    <details open>
        <summary>Pacenotes</summary>

        <p>
            Rally ID: <span id="rally-id"></span>
        </p>
        <p>
            Mode:
            <span id="rally-mode"></span>
        </p>

        <p>
            Playback Lookahead:
            <input type="number" id="playback-lookahead" ng-model="playbackLookahead">
        </p>
        <p>
            Speed Multiplier:
            <input type="number" id="speed-multiplier" ng-model="speedMultiplier">
        </p>

        <button id="connect-to-mic-server" ng-click="connectToMicServer()">Connect to Mic Server</button>
        <div id="recce-content" class="hide">
            <button id="recce-save" ng-click="setSaveRecce()">Save Recce</button>
            <button id="" ng-click="deleteLastPacenote()" class="hide">Delete Last Pacenote</button>

            <p>
                Distance: <span id="distance"></span>
            </p>
            <p>
                Number of Pacenotes: <span id="pacenotes-count"></span>
            </p>
        </div>

        <div id="pacenotes-list" class="hide">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>D</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pacenote in pacenotes_data">
                        <td>{{pacenote.name || pacenote.wave_name}}</td>
                        <td>{{pacenote.d}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </details>

</div>
