
<div class="pacenotes-editor" ng-init="onDocumentReady()">
    <style>
        .pacenotes-editor * {
            color: white;
            font-weight: bold;
        }

        .pacenotes-editor button {
            color: black;
        }

        .pacenotes-editor .hide {
            display: none;
        }
    </style>

    <p>
        Rally ID: <span id="rally-id"></span>
    </p>
    <p>
        Mode: 
        <span id="rally-mode"></span>
    </p>

    <button id="connect-to-mic-server" ng-click="connectToMicServer()">Connect to Mic Server</button>
    <!-- <button id="start-recce" ng-click="startRecce()" class="hide">Recce</button> -->
    <div id="recce-content" class="hide">
        <button id="" ng-click="deleteLastNote()" class="hide">Delete Last Pacenote</button>
    </div>
</div>
