
<div class="pacenotes-editor" ng-init="onDocumentReady()">
    <style>
        .pacenotes-editor {
            color: white;
            font-weight: bold;
        }

        .pacenotes-editor button {
            color: black;
        }

        .pacenotes-editor .hide {
            display: none;
        }

        .pacenotes-editor summary {
            background-color: rgba(0, 0, 0, 0.5);
        }
    </style>

    <details open>
        <summary>Pacenotes</summary>

        <p>
            Rally ID: <span id="rally-id"></span>
        </p>
        <p>
            Mode:
            <span id="rally-mode"></span>
        </p>

        <p>
            Playback Lookahead:
            <input type="number" id="playback-lookahead" ng-model="playbackLookahead">
        </p>
        <p>
            Speed Multiplier:
            <input type="number" id="speed-multiplier" ng-model="speedMultiplier">
        </p>

        <button id="connect-to-mic-server" ng-click="connectToMicServer()">Connect to Mic Server</button>
        <div id="recce-content" class="hide">
            <button id="recce-save" ng-click="setSaveRecce()">Save Recce</button>
            <button id="" ng-click="deleteLastPacenote()" class="hide">Delete Last Pacenote</button>

            <p>
                Distance: <span id="distance"></span>
            </p>
            <p>
                Number of Pacenotes: <span id="pacenotes-count"></span>
            </p>
        </div>
    </details>

</div>
